<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
    <head>
        <meta charset="utf-8" content="width=device-width"/>
        <title>MAPA system</title>
        <link rel="stylesheet" th:href="@{/css/base.css}">
        <link rel="stylesheet" th:href="@{/css/palette.css}">
        <link rel="stylesheet" th:href="@{/css/home.css}">
    </head>

    <body>
        <header th:replace="~{base :: header}"></header>
        <nav th:replace="~{base :: nav}"></nav>

        <div class="main-container">

            <img th:src="@{/images/photoHome.jpg}" class="home-photo">

            <div class = "form-container">
                <div class ="form-title-container">
                    <h3>Log in</h3>
                </div>

                <form th:action="@{/login}" method = "POST">

                    <div class ="form-input-container">
                        <label><b>Username</b></label>
                        <input class = "campo_entrada" type="text" name="username">
                        <label><b>Password</b></label>
                        <input class = "campo_entrada" type="password" name="password">
                    </div>

                    <div class="button-container">
                        <button class="button" method="POST" type="submit">Log in</button>
                    </div>
                </form>
                <div class="button-container">
                    <button class="button" method="GET" th:href="@{/signUp}">Sign up</button>
                </div>
            </div>
        </div>

        <footer th:replace="~{base :: footer}"></footer>
    </body>
</html>