body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgrey;
}

a a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    text: bold;
}


button, a.button-like{
    font-size: 150%;
    text-decoration: none;
    width: 40%;
    height: 5%;
    margin: 1%;
    padding: 3%;
    border: 1px solid var(--secondary-bg-color);
    background-color: var(--primary-bg-color);
    color: var(--button-text-color);
    border-radius: 5px;
    cursor: pointer;

    text-align: center;
    font-family: 'Open Sans', sans-serif;
    transition-duration: 0.4s;
}

button:hover, a.button-like:hover{
    background-color: #3498db;
    color: #fff;
}

a.button-like:visited{
    color: var(--button-text-color);
}


header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #444;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

