<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>MAPA system</title>
    <link rel="stylesheet" th:href="@{/css/palette.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
    <nav th:fragment="person-nav">
        <div>
            <ul>
                <li><a th:href="@{/templates/surgery}">Menu:</a></li>
                <li><a th:href="@{/doctor}"> Doctores</a></li>
            </ul>
        </div>
    </nav>
<div class="columns-container">
    <div class="column">
        <a class="button-like" th:href="@{/doctor/add}">Agregar medico</a>
    </div>

    <div class="column">
        <a class="button-like" th:href="@{/cirugias/actualizar}">Buscar cirugia</a>
        <a class="button-like" th:href="@{/cirugias/actualizar}">Funcion extra</a>
    </div>

</div>

<footer th:replace="~{base :: footer}"></footer>

</body>
</html>