<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>MAPA system</title>
    <link rel="stylesheet" th:href="@{/css/palette.css}">
    <link rel="stylesheet" th:href="@{/css/menu.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
</head>
<body>
    <nav>
        <div>
            <ul>
                <li><a th:href="@{/menu}">Menu</a></li>
            </ul>
        </div>
    </nav>
    <div class="columns-container">
        <div class="column">
            <a class="button-like" th:href="@{/cirugias}">Cirugias</a>
            <button>Medicos</button>
        </div>

        <div class="column">
            <button>Practicas</button>
            <button>Centros medicos</button>
        </div>

    </div>

    <footer th:replace="~{base :: footer}"></footer>

</body>
</html>